.idea
*.swp
*.swo
.DS_Store
.venv
.git
.gitignore
.env
docker/.env
docker/.env.production
docker/.env.staging
docker/nginx.production.conf
docker/nginx.staging.conf
__pycache__/
.pytest_cache/
*.pyc
**/node_modules
media/
static/


