[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "==5.2.8"
django-ninja = "==1.4.5"
psycopg2-binary = "*"
pyodk = "==1.2.1"
django-environ = "*"
django-tailwind = { version = "*", extras = ["reload"] }
python-dateutil = "*"

[dev-packages]
pytest-django = "*"
pytest-cov = "*"
pytest-mock = "*"
factory_boy = "==3.3.3"
coverage = "*"
coveralls = "*"
faker = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.5"
