services:
  srs-cms-db:
    image: postgres:16
    container_name: ${APP_STAGE}-srs-cms-db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      APP_STAGE: ${APP_STAGE:?APP_STAGE not set}
      POSTGRES_DB: ${DB_NAME:?DB_NAME not set}
      POSTGRES_USER: ${DB_USER:?DB_USER not set}
      POSTGRES_PASSWORD: ${DB_PASS:?DB_PASS not set}
      PGPORT: ${DB_PORT:?DB_PORT not set}
    ports:
      - ${DB_PORT}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready --username=${DB_USER} --dbname=${DB_NAME}" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  srs-cms-web:
    container_name: ${APP_STAGE}-srs-cms-web
    build:
      context: ../
      dockerfile: docker/Dockerfile
    depends_on:
      srs-cms-db:
        condition: service_healthy
        restart: true
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
      - app_data:/app
    environment:
      APP_STAGE: ${APP_STAGE:?APP_STAGE not set}
      SECRET_KEY: ${SECRET_KEY:?SECRET_KEY not set}
      DEBUG: ${DEBUG:-False}
      LOG_LEVEL: ${LOG_LEVEL:-INFO}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS:?ALLOWED_HOSTS not set}
      CSRF_TRUSTED_ORIGINS: ${CSRF_TRUSTED_ORIGINS:?CSRF_TRUSTED_ORIGINS not set}
      INTERNAL_IPS: ${INTERNAL_IPS:?INTERNAL_IPS not set}
      SECURE_SSL_REDIRECT: ${SECURE_SSL_REDIRECT:?SECURE_SSL_REDIRECT not set}
      SESSION_COOKIE_SECURE: ${SESSION_COOKIE_SECURE:?SESSION_COOKIE_SECURE not set}
      CSRF_COOKIE_SECURE: ${CSRF_COOKIE_SECURE:?CSRF_COOKIE_SECURE not set}
      SECURE_BROWSER_XSS_FILTER: ${SECURE_BROWSER_XSS_FILTER:?SECURE_BROWSER_XSS_FILTER not set}
      SECURE_CONTENT_TYPE_NOSNIFF: ${SECURE_CONTENT_TYPE_NOSNIFF:?SECURE_CONTENT_TYPE_NOSNIFF not set}
      STATIC_ROOT: ${STATIC_ROOT:?STATIC_ROOT not set}
      MEDIA_ROOT: ${MEDIA_ROOT:?MEDIA_ROOT not set}
      GUNICORN_WORKERS: ${GUNICORN_WORKERS:?GUNICORN_WORKERS not set}
      GUNICORN_THREADS: ${GUNICORN_THREADS:?GUNICORN_THREADS not set}
      DB_HOST: ${DB_HOST:?DB_HOST not set}
      DB_PORT: ${DB_PORT:?DB_PORT not set}
      DB_NAME: ${DB_NAME:?DB_NAME not set}
      DB_USER: ${DB_USER:?DB_USER not set}
      DB_PASS: ${DB_PASS:?DB_PASS not set}
      ODK_BASE_URL: ${ODK_BASE_URL:?ODK_BASE_URL not set}
      ODK_USERNAME: ${ODK_USERNAME:?ODK_USERNAME not set}
      ODK_PASSWORD: ${ODK_PASSWORD:?ODK_PASSWORD not set}
      ODK_API_FORM_SUBMISSION_PAGE_SIZE: ${ODK_API_FORM_SUBMISSION_PAGE_SIZE:-100}
      EMAIL_BACKEND: ${EMAIL_BACKEND}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_USE_TLS: ${EMAIL_USE_TLS}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      DEFAULT_FROM_EMAIL: ${DEFAULT_FROM_EMAIL}
      NPM_BIN_PATH: ${NPM_BIN_PATH}

  srs-cms-nginx:
    image: nginx:latest
    container_name: ${APP_STAGE}-srs-cms-nginx
    restart: always
    ports:
      - "${NGINX_PORT}:80"
    depends_on:
      - srs-cms-web
    volumes:
      - ./nginx.${APP_STAGE}.conf:/etc/nginx/nginx.conf
      - static_volume:/app/static
      - media_volume:/app/media
    environment:
      APP_STAGE: ${APP_STAGE:?APP_STAGE not set}
      NGINX_PORT: ${NGINX_PORT:?NGINX_PORT not set}
      GUNICORN_WORKERS: ${GUNICORN_WORKERS:?GUNICORN_WORKERS not set}
      GUNICORN_THREADS: ${GUNICORN_THREADS:?NGINX_PORT not set}

volumes:
  postgres_data:
  static_volume:
  media_volume:
  app_data: